* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit', sans-serif;
    /*src: url('../fonts/Outfit-VariableFont_wght.ttf');*/
    src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')
}

:root {
    --primary-color: #fffeff;
    --section-color: #f3f4f6;
    --text-color: #394150;
    --text-color-card: #fff;
    --header-color: #000;
    --text-color-blue: #263fa9;
    --background-1: #86e7d4;
    --background-2: #8dc4f8;
    --background-3: #c1b6f9;
    --background-4: #edacd2;
    --background-5: #f8d8b0;
    --main-font: 'Outfit';
    --link-footer: #284bce;
}

body {
    font-family: var(--main-font), sans-serif;
    background-color: var(--primary-color);
    font-size: 1rem;
    color: var(--text-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--header-color);
    margin: 28px 0;
}

.container {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    background-color: var(--section-color);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-image: url("../resources/Background_decor.svg");
    background-repeat: no-repeat;
}

.title {
    padding: 36px 36px 80px 36px;
}

.link-team {
    color: var(--text-color-blue);
}

.card,
.link-all,
.title {
    max-width: 384px;
    width: 100%;
    position: relative;
}

.card:hover {
    scale: 1.1;
    z-index: 2;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.one {
    /*background-color: var(--background-3);*/
    background: linear-gradient(to top, black, 10%, var(--background-3));
}

.two {
    /*background-color: var(--background-4);*/
    background: linear-gradient(to top, black, 10%, var(--background-4));
}

.three {
    /*background-color: var(--background-2);*/
    background: linear-gradient(to top, black, 10%, var(--background-2));
}

.four {
    /*background-color: var(--background-5);*/
    background: linear-gradient(to top, black, 10%, var(--background-5));
}

.five {
    /*background-color: var(--background-1);*/
    background: linear-gradient(to top, black, 10%, var(--background-1));
}

.member-item {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    color: var(--text-color-card);
}

.name {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.link-all {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: end;
    grid-area: 7/1/7/1;
    padding: 36px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--text-color-blue);
    cursor: pointer;
}

/* ================  FOOTER  ============== */

footer {
    max-width: 275px;
    margin: 0 auto;
    padding: 3rem 0;
    /*color: var();*/
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.attribution p {
    font-weight: 600;
}

.attribution a {
    font-style: italic;
    text-decoration: none;
    color: var(--link-footer);
}

@media screen and (min-width: 1024px) {
    .container {
        width: 852px;
        display: grid;
        grid-template-columns: repeat(3, 284px);
        grid-template-rows: repeat(3, 288px);
        margin: 10px auto;
        padding: 0;
        overflow: hidden;
    }

    .title {
        /*grid-column: 1/span 2;*/
        max-width: 540px;
        grid-area: 1/1/1/4;
        justify-self: left;
    }

    .link-all {
        grid-area: 3/1/3/1;
    }

}

@media screen and (min-width: 1280px) {
    .container {
        width: 1136px;
        display: grid;
        grid-template-columns: repeat(4, 284px);
        grid-template-rows: repeat(2, 288px);
        overflow: hidden;
        margin: 10px auto;
        padding: 0;
    }

    .title {
        /*grid-column: 1/span 2;*/
        max-width: 540px;
        grid-area: 1/1/1/3;
    }

    .link-all {
        grid-area: 2/1/2/1;

    }
}